<form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
  <input type="text" placeholder="Title" formControlName="title" />
  <br />
  <textarea placeholder="Description" formControlName="description"></textarea>
  <br />
  <input
    placeholder="Deadline"
    type="datetime-local"
    formControlName="deadline"
  />
  <br />

  <button type="submit">Add todo</button>
</form>

<div *ngFor="let todo of todos">
  <app-todo
    [id]="todo.id"
    [title]="todo.title"
    [description]="todo.description"
    [deadline]="todo.deadline"
    [completed]="todo.completed"
    (delete)="deleteTodo($event)"
    (update)="updateTodo(todo.id, $event)"
  ></app-todo>
</div>
